<section id="home">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 col-md-offset-1">
        <img class="photo-left" src="<%=asset_path('home-left.jpg')%>"/>
      </div>
      <div class="col-md-6">
        <div class="photo-container">
          <div class="photo-album">
            <img id="photo-slideshow" class="photo first" src="<%=asset_path('home-1.jpg')%>"/>
            <img id="photo-slideshow" class="photo photo-trail" src="<%=asset_path('home-2.jpg')%>"/>
            <img id="photo-slideshow" class="photo photo-trail" src="<%=asset_path('home-3.jpg')%>"/>
            <img id="photo-slideshow" class="photo photo-trail" src="<%=asset_path('home-4.jpg')%>"/>
            <img id="photo-slideshow" class="photo photo-trail" src="<%=asset_path('home-5.jpg')%>"/>
            <img id="photo-slideshow" class="photo photo-trail" src="<%=asset_path('home-6.jpg')%>"/>
            <img id="photo-slideshow" class="photo photo-trail" src="<%=asset_path('home-7.jpg')%>"/>
            <img id="photo-slideshow" class="photo photo-trail" src="<%=asset_path('home-8.jpg')%>"/>
            <img id="photo-slideshow" class="photo photo-trail" src="<%=asset_path('home-9.jpg')%>"/>
            <img id="photo-slideshow" class="photo photo-trail" src="<%=asset_path('home-1.jpg')%>"/>
            <img id="photo-slideshow" class="photo photo-trail" src="<%=asset_path('home-2.jpg')%>"/>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <p class="welcome">
          <span class="font-25 bold italic font-initial">WELCOME </span> <span class="font-25 italic font-initial">to</span> <br>
          <span class="font-25 red font-initial">Paparazzi</span> <span class="font-25 font-initial">Instant Photography</span>
          <img class="photo-right" src="<%=asset_path('home-right.jpg')%>"/>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7 col-md-offset-1">
        <p class="description">
          <span>We provide professional instant print photography service for all ocassions and events</span> <br> <span class="indented">Pamper your guests with our "Photoman Walking Photobooth service"</span> <br> <span class="indented"> and Photo Coverage for simple weddings and birthdays.</span>
        </p>
      </div>
    </div>
  </div>
</section>